/* reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* fundo geral */
body {
  background: #0b0f19;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

/* AQUI ESTÁ O SEGREDO */
#root {
  display: flex;
  justify-content: center;
}
